<div ng-show="isLoading">
	<loading-message></loading-message>
</div>

<div ng-hide="isLoading" class="col-md-8 col-md-offset-2">

	<button class="btn btn-primary pull-right" ng-click="onAddSeller()">
		<span translate="sellers.Add" />
	</button>

	<form>
		<div class="form-group">
			<div class="input-group col-md-5">
				<div class="input-group-addon"><i class="fa fa-search"></i></div>
				<input type="text" class="form-control" ng-model="searchSellers">
			</div>
		</div>
	</form>
	<div>
		<table class="table table-bordered table-striped" ts-wrapper>
			<thead>
				<tr>
					<th ts-criteria="name|lowercase" ts-default>
						<span translate="sellers.Name"></span>
					</th>
					<th ts-criteria="category|lowercase">
						<span translate="sellers.Category"></span>
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="s in sellers | filter:searchSellers" ts-repeat>
					<td><a ng-href="#/seller/{{s.id}}">{{ s.name }}</a></td>
					<td>{{ s.category }}</td>
					<td>
						<button translate="sellers.Edit" class="btn btn-sm" ng-click="onUpdateSeller(s.id)"></button>
					</td>
				</tr>
			</tbody>
			
		</table>
	</div>
</div>