<div ng-show="isLoading">
	<loading-message></loading-message>
</div>

<div ng-hide="isLoading">

	<button class="btn btn-primary" ng-click="onAddSeller()">
		<span translate="sellers.Add" />
	</button>

	<table>
		<thead>
			<tr>
				<th translate="sellers.Name"></th>
				<th translate="sellers.Category"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="s in sellers">
				<td>{{s.name}}</td>
				<td>{{s.category}}</td>
			</tr>
		</tbody>
		<tr></tr>
	</table>
</div>