<form name="sellerForm" ng-submit="submitForm(sellerForm.$valid)" novalidate>
	<div class="modal-header">
		<h2 translate="sellerdlg.Seller"></h2>
	</div>
	<div class="modal-body ">
		<div class="modal-description">
			<div class="control-group">
				<label class="control-label" translate="sellerdlg.Name"></label>
				<div class="controls">
					<input type="text" class="form-control" ng-model="seller.name" required ng-minlength="1" ng-maxlenght="50" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" translate="sellerdlg.Category"></label>
				<div class="controls">
					<input type="text" class="form-control" ng-model="seller.category" required ng-minlength="1" ng-maxlength="100" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" translate="sellerdlg.Image"></label>
				<div class="controls">
					<input type="text" class="form-control" ng-model="seller.imagePath" required />
				</div>
			</div>

			<br>
			<div class="modal-result">
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="onOk()">Ok</button>
			<button type="button" class="btn btn-primary" ng-click="onCancel()">Cancel</button>
		</div>
	</div>
</form>