<div class="well well-lg">
 <!-- Portfolio Item Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{ seller.name }}
				<small>{{ seller.category }}</small>
			</h1>
		</div>
		<button class="btn btn-sm btn-primary pull-right" ng-click="onAddProduct()">
				<span translate="products.Add" />
		</button>
	</div>
	<!-- /.row -->

	<!-- Portfolio Item Row -->
	<div class="row">

		<div class="col-md-8">
			<img class="img-responsive" ng-src="{{ seller.imagePath }}" width="250" height="auto" alt="">
		</div>

		<div class="col-md-4">
			<h3>{{ seller.name }}</h3>
			
			<h3>{{ seller.category }}</h3>
			
		</div>

	</div>
	<!-- /.row -->

	<!-- Related Projects Row -->
	<div class="row" ng-if="products.length>0">
		<div class="col-lg-12">
			<h3 class="page-header">
				<span translate="products.Products" />
			</h3>
		</div>

		<div>
			<uib-tabset active="active">
				<uib-tab index="0">
				<uib-tab-heading>
					<span translate="products.all"></span>
				</uib-tab-heading>	
					<div ng-repeat="p in products">
						<div class="clearfix" ng-if="$index % 4 == 0"></div>
						<hr ng-if="$index % 4 == 0"></hr>
						<div class="col-sm-3">
							<er-card product="p"></er-card>
						</div>
					</div>
				</uib-tab>
				<uib-tab index="1">
				<uib-tab-heading>
					<span translate="products.top10"></span>
				</uib-tab-heading>
					<div ng-repeat="p in products | orderBy:quantitySold | limitTo:10">
						<div class="clearfix" ng-if="$index % 4 == 0"></div>
						<hr ng-if="$index % 4 == 0"></hr>
						<div class="col-sm-3">
							<er-card product="p"></er-card>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>
	<div class="row" ng-if="products.length===0">
		<uib-alert><h2 translate="products.nothing" class="text-center"></h2></uib-alert>
	</div>
</div>